[*.cs]
dotnet_diagnostic.IDE0051.severity = none
dotnet_diagnostic.S1144.severity = none
dotnet_diagnostic.S1172.severity = none
dotnet_diagnostic.IDE0060.severity = none
dotnet_diagnostic.IDE0130.severity = none
